$color-blanco: white;
$color-platinium: #E8E8E8;
$color-Gray: #BABABA;
$color-darkSalmon: #EE9480;
$color-melon: #F4BAAE;
$color-palePink: #FADFDA;
$color-ballBlue: #2AB7CA;
$color-middleBlue:#77D1DD;
$color-blueLagoon: #B1E4EB;
$color-onyx:#333745;
$color-spanishGray: #8F9199;
$color-lavanderGray: #C7C8CC;
$color-raisingBlack: #221D23;
$color-nickel: #726F73;
$color-silverChalice: #AEACAF;