body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.bg-seccion1 {
    background-image: url('../../img/bg-hero.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 950px;
}

.content-texto-seccion1 {
    margin-top: 100px;
}

.grafico-seccion2 {
    margin-right: 30px;
    margin-bottom: 30px;
    justify-content: flex-end;
    display: flex;
}

.bg-seccion3 {
    background-image: url('../../img/bg-price.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 950px;
}

.content-cards-seccion3 {
    justify-content: center;
    display: flex;
}

.cards-seccion3 {
    display: flex;
    flex-direction: column;
    min-width: 330px;
    background-color: white;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin: 60px;
    align-items: center;
}

.card-body-seccion3 {
    flex: 1 1 auto;
    min-height: 500px;
    padding: 2.1rem 1.25rem;
    display: flex;
    flex-direction: column;
}

.bottom-seccion3 {
    align-items: flex-end;
    margin-top: auto;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .bg-container {
        background-size: contain;
    }
    .content-texto-seccion1 {
        margin-top: 30px;
    }
    .content-cards-seccion3 {
        justify-content: center;
        display: block;
    }
    .grafico-seccion2 {
        justify-content: center;
        img {
            width: 100%;
        }
    }
    .bg-seccion1 {
        background-size: contain;
    }
}

@media only screen and (max-width: 992px) {
    .bg-container {
        background-size: contain;
    }
    .grafico-seccion2 {
        justify-content: center;
        img {
            width: 100%;
        }
    }
    .bg-seccion1 {
        background-size: contain;
    }
}