@import '../abstracts/variables';
footer {
    background-color: $color-raisingBlack;
    padding: 35px 0px 30px 0px;
    width: 100%;
}

.text-footer {
    display: inline-flex;
    li {
        color: $color-blanco;
        font-size: 15px;
        margin-right: 20px;
        list-style: none;
    }
}

.text-footer-copyrigth {
    color: $color-blanco;
    font-size: 15px;
    display: inline-flex;
    float: right;
}

@media only screen and (max-width: 767px) {
    .text-footer-copyrigth {
        font-size: 12px;
    }
    .text-footer {
        li {
            font-size: 12px;
        }
    }
}